#main_header {
  /* 중앙 정렬*/
  width: 960px;
  margin: 0 auto;

  /* 절대 좌표 */
  height: 160px;
  position: relative;
}
#main_header > #title {
  position: absolute;
  left: 20px;
  top: 30px;
}
#main_header > #main_gnb {
  position: absolute;
  right: 0;
  top: 0;
}
#main_header > #main_lnb {
  position: absolute;
  right: 0;
  bottom: 10px;
}
